@page
@using Microsoft.Extensions.Localization
@using ECommerce.Ordering.Localization
@using ECommerce.Ordering.Web.Pages.Ordering
@model ECommerce.Ordering.Web.Pages.Ordering.IndexModel
@inject IStringLocalizer<OrderingResource> L

@{
}
<h1>Ordering</h1>
<p>@L["SamplePageMessage"]</p>
