@page "/"
@inherits DemoAppComponentBase
<div class="container">
    <p>Current value: @Value</p>
    <AuthorizeView Policy="CanIncreaseValue">
        <Button Color="Color.Primary" Clicked="IncreaseAsync">Increase</Button>
    </AuthorizeView>
</div>
