@page "/contact"

@if (contactFormResult != null)
{
    <div class="alert alert-success">
        Thank you @contactFormResult.Name for contacting us :)
    </div>
}
else
{
    <ContactForm OnSubmit="ContactFormSubmitted">
        <PreFormArea>
            <div class="alert alert-info">
                Hello, please write us what do you think about our website...
            </div>            
        </PreFormArea>
    </ContactForm>
}

@code{
    private ContactFormResultModel contactFormResult;

    private void ContactFormSubmitted(ContactFormResultModel result)
    {
        contactFormResult = result;
    }
}