@if (LikeResult != null)
{
    <span class="oi oi-thumb-up like-button @(LikeResult.LikeCount > LikeResult.DislikeCount ? "highlight" : "")" @onclick="UpvoteAsync"></span> @LikeResult.LikeCount
    <span class="oi oi-thumb-down like-button @(LikeResult.LikeCount < LikeResult.DislikeCount ? "highlight" : "")" @onclick="DownvoteAsync"></span> @LikeResult.DislikeCount
}