@page "/Ordering"
@using Microsoft.Extensions.Localization
@using global::ECommerce.Ordering.Localization
@inject IStringLocalizer<OrderingResource> L
@{
}
<h1>Ordering</h1>
<p>@L["SamplePageMessage"]</p>