@page "/Customers"
@using Microsoft.Extensions.Localization
@using global::ECommerce.Customers.Localization
@inject IStringLocalizer<CustomersResource> L
@{
}
<h1>Customers</h1>
<p>@L["SamplePageMessage"]</p>