@page "/contact"

@if (submitted)
{
    <div class="alert alert-success">
        Thank you for contacting us :)
    </div>
}
else
{
    <ContactForm OnSubmit="ShowMessage">
        <PreFormArea>
            <div class="alert alert-info">
                Hello, please write us what do you think about our website...
            </div>            
        </PreFormArea>
    </ContactForm>
}

@code{
    private bool submitted;

    private void ShowMessage(MouseEventArgs e)
    {
        submitted = true;
    }
}