@page
@using Microsoft.Extensions.Localization
@using ECommerce.Customers.Localization
@using ECommerce.Customers.Web.Pages.Customers
@model ECommerce.Customers.Web.Pages.Customers.IndexModel
@inject IStringLocalizer<CustomersResource> L

@{
}
<h1>Customers</h1>
<p>@L["SamplePageMessage"]</p>
