@page
@model DotnetCoreDays.Pages.Todos.IndexModel

<h2>Todo Items</h2>

<div id="TodoCreateArea">
    <form id="TodoCreateForm" method="post">
        <input type="text" name="Text" id="TodoItemText"/> <button type="submit" id="TodoItemAddButton">Add</button>
    </form>
</div>

<ul id="TodoList">
    @foreach (var todoItem in Model.TodoItems)
    {
        @await Html.PartialAsync("_TodoItemOnList", todoItem)
    }
</ul>

<div>
    <email>info@@sample.com</email>
</div>

@section styles
    {
    <environment names="Development">
        <link href="~/Pages/Index.css" rel="stylesheet" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/Pages/Index.min.css" rel="stylesheet" />
    </environment>
}

@section scripts
    {
    <environment names="Development">
        <script src="~/Pages/Index.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/Pages/Index.min.js"></script>
    </environment>
}