@if (LikeResult != null)
{
    <span class="oi oi-thumb-up like-button" @onclick="UpvoteAsync"></span> @LikeResult.LikeCount <span class="oi oi-thumb-down like-button" @onclick="DownvoteAsync"></span> @LikeResult.DislikeCount
}